syriac-ocr-corpora/isaac-of-antioch/01_original_page_images/*.png filter=lfs diff=lfs merge=lfs -text
syriac-ocr-corpora/isaac-of-antioch/02_prepared_page_crops/*.jpg filter=lfs diff=lfs merge=lfs -text
syriac-ocr-corpora/isaac-of-nineveh/02_prepared_page_crops/*.zip filter=lfs diff=lfs merge=lfs -text
